<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.id.instawash">

    <!-- Permissions for accessing location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Optional: Required for Android 12 and above if you need background location -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        android:requiredFeature="true"
        android:maxSdkVersion="30" />

    <application
        android:label="Insta Wash"
        android:name="${applicationName}"
        android:icon="@mipmap/logo"
        android:requestLegacyExternalStorage="true"
        android:enableOnBackInvokedCallback="true"> 
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAe3JKNpmh5YfDuNBEuuUlbliS7i0tP7bQ" />

        <!-- Main Activity Configuration -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Specifies an Android theme to apply to this Activity -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Flutter embedding meta-data -->
            <meta-data
                android:name="flutterEmbedding"
                android:value="2" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
